*{
    font-family: sans-serif;
}

body{
    padding: 20px;
}

h1{
    font-size: 30px;
}

h2{
    font-size: 20px;
    color: #666;
}

h1, h2{
    font-weight: unset;
    margin: 0 0 15px 0;
}

p {
    margin: 0;
}

textarea:read-only, input:read-only{
    color: #666;
    caret-color: transparent;
}

.inputs{
    margin: 25px 0;
}

.input-wrapper{
    display: inline-block;
    margin-right: 20px;
}

.formula-selected{
    outline: 2px solid red;
    outline-offset: -1px;
}

.unit{
    font-size: 15px;
    margin-left: 10px;
    vertical-align: -1px;
}

.output-html{
    display: block;
    margin-top: 20px;
}

footer{
    font-size: 15px;
    color: gray;
    margin-top: 5px;
}

select{
    display: block;
    margin-bottom: 15px;
}